<div class=" max-w-md flex">
<select  (change)="filterSearch()" [(ngModel)]="filter" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  <option [selected]="undefined" [ngValue]="undefined">Choose a Filter</option>
  <option [ngValue]="'science'">science</option>
  <option [ngValue]="'education'">education</option>
  <option [ngValue]="'people'">people</option>
  <option [ngValue]="'feelings'">feelings</option>
  <option [ngValue]="'computer'">computer</option>
  <option [ngValue]="'buildings'">buildings</option>
</select>
</div>