<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5  gap-4 p-4 mx-auto" *ngIf="images.length !== 0">
    <div *ngFor="let img of images">
        <div class="w-48 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <img class="rounded-t-lg w-full" [src]="img.previewURL" alt="" />
            <div class="p-5 flex flex-col gap-2">
                <p class="text-sm tracking-tight text-gray-900 dark:text-white m-0">
                    <span class="font-bold ">Tags:</span> {{ img.tags }}
                </p>
                <p class="text-sm tracking-tight text-gray-900 dark:text-white m-0">
                    <span class="font-bold ">Likes:</span> {{ img.likes }}
                </p>
                <p class="text-sm tracking-tight text-gray-900 dark:text-white m-0">
                    <span class="font-bold ">Visitas:</span> {{ img.views }}
                </p>
            </div>
        </div>

    </div>
</div>