<div class="min-h-screen bg-gray-50 ">
  <app-bar-search (propagar)="searchImage($event)"></app-bar-search>
  <section class="w-full flex justify-items-center justify-center items-center  ">
    <app-filter class="w-48" (filterEmitter)="FilterImage($event)" ></app-filter>
  </section>
  <main class="w-full flex justify-items-center justify-center items-center gap-1">
    <app-list-images [images]="images" ></app-list-images>
  </main>
</div>
